html{
  height: 100%;
  width: 100%;

}

body{
  height: 100%;
  width: 100%;

  color: #333;
  font: 13px/13px Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  background-color: : #F0F0F0;

  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
  background-image: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background-image:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background-image:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background-image:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background-image:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

.container{
  text-align: center;
  margin-top: 7%;
}

.portrait{
  display: block;
  width: 160px;
  height: 160px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;

  /*border: 2px solid #eee; */

  -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.name{
  margin-top: -15px;
}

a{
  color: #777;
  padding: 0px 2px;
  text-decoration: none;
  font-size: 15px;
}

a:hover{
  color: #38d;
  text-decoration: none;
}

article{
  margin: 6px 0px 0px 0px;
  padding: 10px;
}

ul{
  margin: -5px 0px 0px 0px;
  text-align: center;
}

ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 2px;
}

.icons{
  margin-top: 7px;
}

.not-visible{
  display: none;
}

