 html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;

  color: #333;
  font: 13px/13px Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #F0F0F0;

  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
  background-image: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background-image:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background-image:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background-image:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background-image:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

#container{
  text-align: center;
  margin-top: 7%;
}

.portrait{
  width: 150px;
  height: 150px;
  border: 2.5px solid white;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  background: url('../images/self.jpg') no-repeat;
  margin-left: 44%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0,.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.name{
  margin-top: -15px;
}

a{
  color: #777;
  padding: 0 2px;
  text-decoration: none;
  font-size: 15px;
}

a:hover{
  color: #38d;
  text-decoration: none;
}

article{
  margin: 6px 0 0 0;
  padding: 10px;
}

ul{
  margin: -5px 0 0 0;
  text-align: center;
}

ul li{
  display: inline-block;
  list-style: none;
  margin: 0 2px;
}

.icons{
  margin-top: 7px;
}

.not-visible{
  visibility: hidden;
  display: none;
}
