---
---

$helvetica: Helvetica, Arial, sans-serif;
$source-code-pro: "Source Code Pro", monospace;

.helvetica-custom {
  font-famlily: $helvetica;
}

.source-code-pro {
  font-family: $source-code-pro;
}
