---
---

@import "type";
@import "colors";
@import "global";

.bg-yellow {
  background-color: yellow;
}

.code-bg-yellow {
  code {
    background-color: yellow;
  }
}

// Rouge syntax highlighting - GitHub-inspired theme
// Code block container styling
.highlighter-rouge .highlight,
div.highlight {
  background-color: #f6f8fa !important;
  padding: 1.5rem !important;
  border-radius: 6px !important;
  overflow-x: auto !important;
  margin: 2rem 0 !important;
}

.highlighter-rouge .highlight pre,
div.highlight pre {
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  overflow: visible !important;
}

.highlighter-rouge .highlight code,
div.highlight code {
  font-size: 0.875rem !important;
  line-height: 1.6 !important;
  padding: 0 !important;
  background: transparent !important;
  color: #24292f !important;
}

// Syntax highlighting token colors - using high specificity selectors
.highlight span.k,
.highlight span.kd,
.highlight span.kn,
.highlight span.kp,
.highlight span.kr,
.highlight span.kv {
  color: #cf222e !important;
  font-weight: 600 !important;
}

.highlight span.kt,
.highlight span.kc {
  color: #0550ae !important;
}

.highlight span.s,
.highlight span.sa,
.highlight span.sc,
.highlight span.dl,
.highlight span.sd,
.highlight span.s2,
.highlight span.se,
.highlight span.sh,
.highlight span.sx,
.highlight span.s1,
.highlight span.ss {
  color: #0a3069 !important;
}

.highlight span.c,
.highlight span.ch,
.highlight span.cd,
.highlight span.cm,
.highlight span.cp,
.highlight span.cpf,
.highlight span.c1,
.highlight span.cs {
  color: #6e7781 !important;
  font-style: italic !important;
}

.highlight span.nf,
.highlight span.fm {
  color: #8250df !important;
}

.highlight span.nd {
  color: #8250df !important;
}

.highlight span.nb {
  color: #953800 !important;
}

.highlight span.nc {
  color: #953800 !important;
}

.highlight span.no {
  color: #953800 !important;
}

.highlight span.nn {
  color: #953800 !important;
}

.highlight span.l,
.highlight span.ld,
.highlight span.m,
.highlight span.mb,
.highlight span.mf,
.highlight span.mh,
.highlight span.mi,
.highlight span.il,
.highlight span.mo,
.highlight span.mx {
  color: #0550ae !important;
}

.highlight span.o,
.highlight span.ow {
  color: #0550ae !important;
}

.highlight span.nv,
.highlight span.vc,
.highlight span.vg,
.highlight span.vi,
.highlight span.vm {
  color: #0550ae !important;
}

.highlight span.sr {
  color: #116329 !important;
}

.highlight span.na {
  color: #116329 !important;
}

.highlight span.nt {
  color: #116329 !important;
}

.highlight span.gi {
  color: #116329 !important;
  background-color: #dafbe1 !important;
}

.highlight span.gd {
  color: #82071e !important;
  background-color: #ffebe9 !important;
}

.highlight span.err {
  color: #cf222e !important;
}

.highlight span.ge {
  font-style: italic !important;
}

.highlight span.gs {
  font-weight: bold !important;
}

.highlight span.ges {
  font-weight: bold !important;
  font-style: italic !important;
}

.highlight span.gh,
.highlight span.gu {
  color: #0550ae !important;
  font-weight: bold !important;
}

.highlight span.gl,
.highlight span.gt {
  color: #6e7781 !important;
}

.highlight span.gr {
  color: #cf222e !important;
}

.highlight span.p,
.highlight span.n,
.highlight span.ni,
.highlight span.si,
.highlight span.w {
  color: #24292f !important;
}

.highlight span.sb,
.highlight span.bp,
.highlight span.ne,
.highlight span.nl,
.highlight span.py {
  color: #0550ae !important;
}
