// tones
//

$white: #FFFFFF;
$light-gray: #EFEFEF; //tertiary text color text color
$dark-gray: #555555; // secondary text color
$medium-black: #333333; //primary text color
$black: #000000;


// colors
$light-purple: rgba(21,0,162,0.15);
$dark-blue: #1500a2;


.dark-blue {
    color: $dark-blue;
}

.light-purple {
    color: $light-purple;
}

