
$font: Avenir Next,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;

// type scale

$base-size: 24pt;

//type scale system
$x-small-text: 1rem;
$small-text: 1.5rem;
$medium-text: 2rem;
$large-text: 2.66rem;
$x-large-text: 3rem;


//weights
$font-weight-skinny: 100;
$font-weight-normal: 300;
$font-weight-bold: 600;

// convenience class attributes for font-sizes

.text-x-small {
    font-size: $x-small-text;
}

.small-text {
    font-size: $small-text;
}

.medium-text {
    font-size: $medium-text;
}

.large-text {
    font-size: $large-text;
}

.x-large-text {
    font-size: $x-large-text;
}

.skinny {
    font-weight: $font-weight-skinny;
}

.bold {
    font-weight: $font-weight-bold;
}

