<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Brendan Ryan</title>
  <meta name="description" content="Brendan Ryan">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Vendor Styles -->
  <link rel="stylesheet" href="public/css/vendor/normalize.css">


  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <!-- Styles -->
  <link rel="stylesheet" href="public/css/styles.css">
</head>
<body>

  {{content}}


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src = "public/scripts/vendor/modernizr-latest.js"></script>
  <script src = "public/scripts/vendor/fss.js"></script>
  <script src="public/scripts/ga.js"></script>
  <script src = "public/scripts/script.js"></script>

</body>

</html>
