<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Brendan Ryan</title>
  <meta name="description" content="Brendan Ryan">
  <meta name="viewport" content="width=device-width">

  <!-- Vendor Styles -->
  <link rel="stylesheet" href="public/css/vendor/normalize.css">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="public/css/styles.css">
</head>

<body>
  <div class="container">
  <article class="content animated fadeInUp">
    <section><div class ="portrait"></div></section>
    <section class="name"><h2>Brendan Ryan</h2></section>
    <section class="info">
      <p class="infoStrings">CS@UIUC - '15</p>
      <p class="infoStrings">Coffee Enthusiast</p>
      <p class="infoStrings">Kanye West Superfan</p>
      <p class="infoStrings">(Slow) Runner</p>
      <p class="infoStrings">Beard-Growing Guru</p>
      <p class="infoStrings">Frequent Napper</p>
    </section>
    <section class="links">
      <ul class="icons">
        <li><a href="http://github.com/bjryan2/" target="_blank" alt="Github"><i class="icon-github icon-large"></i></a> </li>
        <li><a href="http://linkedin.com/in/BrendanJohnRyan" target="_blank" alt="LinkedIn"><i class="icon-linkedin icon-large"></i></a></li>
        <li><a href="http://brendanryan.vsco.co" target="_blank" alt="VSCO"><i class="icon-camera-retro icon-large"></i></a> </li>
        <li><a href="https://www.dropbox.com/s/2gh8kbn0qo8xqcs/Brendan%20Ryan.pdf" target="_blank" alt="Resume"><i class="icon-file icon-large"></i></a></li>
        <li><a href="mailto:ryan.brendanjohn_AT_gmail.com" target="_blank" alt="Email"><i class="icon-envelope icon-large"></i></a></li>
      </ul>
    </section>
  </article>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src = "public/scripts/vendor/modernizr-latest.js"></script>
  <script src="public/scripts/ga.js"></script>
  <script src = "public/scripts/script.js"></script>

</body>
</html>
